:root{
    --primary-color: #333333;
}

/* card */
.card{
    width: 400px;
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* text */
.trip-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* button */
button{
    background-color: #fff;
    font-size: 1rem;
    color: var(--primary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.7px;
    border: 1px solid var(--primary-color);
    transition: all .4s  ease-in-out;
    /* transition-delay: .4s; */

}

button:hover{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #fff;
}

/* img */
.image-container {
    overflow: hidden;
    width: 300px; 
    height: 200px; 
}

.image-container img {
    width: 100%;
    height: auto;
    transition: all .3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1);
    /* cursor: zoom-in; */
}