:root{
    --primary-color: #333333;
}
.card{
    width: 400px;
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.trip-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    background-color: #fff;
    font-size: 1rem;
    color: var(--primary-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.7px;
    border: 1px solid var(--primary-color);
    transition: all 0.4s ease;

}

button:hover{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #fff;
}


img {   
    width: 300px;
    /* border: #212121 solid 1px; */
    border-radius: 10px;
}